/target
**/*.rs.bk
Cargo.lock.bak
.DS_Store
.ruff_cache/
.worktrees/

# .agents
# opencode.jsonc
TODO

# never ignore or try to remove this. superpower docs are not allow to be commited
docs/superpowers
.codex
.spec-workflow/
